* {box-sizing: border-box}

body, html{
    height: 100%;
    margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    opacity: 0.9;
}

.tab {
    background-color: #262626;
    overflow: hidden;
    
}

    .tab a {
        float: left;
        color: #b3b3b3;
        text-align: center;
        padding: 13px 30px;
        text-decoration: none;
        font-size: 14px;
        font-family: sans-serif;
    }

        .tab a:hover {
            color: whitesmoke;
        }
